.info {
  background-color: #F7F9F6;
  max-height: 591px;
  height: 100%;
}

.info-l {
  padding-right: 77px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.info-l h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.info-l p {
  max-width: 666px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
}

.info-r {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  background-color: #fff;
  padding: 54px 180px 0 70px;
}

.info-r h2 {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 29px;
}

.info-r__link {
  margin-bottom: 34px;
}

.info-r__link img {
  margin-right: 20px;
}

.info-r__link a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

.info-r__link:hover {
  opacity: 0.8;
}
